  <div class="js-sticky">
    <div class="fh5co-main-nav">
      <div class="container-fluid">
        <div class="fh5co-menu-1">
          <a href="#" data-nav-section="home">Home</a>
          <a href="#" data-nav-section="about" id="about" style="display:none">About</a>
          <a href="#" data-nav-section="features" id="features" id="features" style="display:none">Features</a>
        </div>
        <div class="fh5co-logo">
          <a href="#">foodee</a>
        </div>
        <div class="fh5co-menu-2">
          <a href="#" data-nav-section="menu" id="menu" id="menu" style="display:none">Menu</a>
          <a href="#" data-nav-section="events" id="events" id="events" style="display:none">Events</a>
          <a href="#" data-nav-section="reservation">Reservation</a>
        </div>
      </div>
    </div>
  </div>
