---
title: Home page
published: true
sections_content: >
  {
    "home": {
      "settings": {
        "show": true,
        "title": "foodee",
        "subtitle": "Lovely Designed <span>with</span> <a href=\"http://freehtml5.co/\" target=\"_blank\">html5</a>"
      },
      "blocks": [
        {
          "type": "image",
          "settings": {
            "image": "/samples/slide_1.jpg"
          }
        },
        {
          "type": "image",
          "settings": {
            "image": "/samples/slide_2.jpg"
          }
        },
        {
          "type": "image",
          "settings": {
            "image": "/samples/slide_3.jpg"
          }
        }
      ]
    },
    "about": {
      "settings": {
        "show": true,
        "image": "/samples/res_img_1.jpg",
        "title": "About Us",
        "text": "<span class=\"firstcharacter\">F</span>ar far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.",
        "btn": true,
        "btntext": "Get in touch",
        "btnlink": "#",
        "quotes": true
      }
    },
    "features": {
      "settings": {
        "show": true,
        "title": "Featured Dishes",
        "subtitle": "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.",
        "footer": true,
        "image": "/samples/slide_3.jpg"
      },
      "blocks": [
        {
          "type": "legend",
          "settings": {
            "icon": "icon-1",
            "title": "Fruits",
            "text": "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts."
          }
        },
        {
          "type": "legend",
          "settings": {
            "icon": "icon-2",
            "title": "Sea food",
            "text": "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts."
          }
        },
        {
          "type": "legend",
          "settings": {
            "icon": "icon-3",
            "title": "Vegetables",
            "text": "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts."
          }
        },
        {
          "type": "legend",
          "settings": {
            "icon": "icon-4",
            "title": "Meat",
            "text": "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts."
          }
        }
      ]
    },
    "menu": {
      "settings": {
        "show": true,
        "title": "Food Menu",
        "subtitle": "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.",
        "btn": true,
        "btntext": "more food menu",
        "btnlink": "#"
      },
      "blocks": []
    }
  }
---
{% extends layouts/default %}
{% block 'main' %}
  {% section 'home', placement: 'top' %}
  {% include 'nav' %}
  {% section 'about' %}
  {% section 'features' %}
  {% section 'menu' %}
  <div id="fh5co-events" data-section="events" style="background-image: url(https://freehtml5.co/demos/foodee/images/slide_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="fh5co-overlay"></div>
    <div class="container">
      <div class="row text-center fh5co-heading row-padded">
        <div class="col-md-8 col-md-offset-2 to-animate">
          <h2 class="heading">Upcoming Events</h2>
          <p class="sub-heading">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="fh5co-event to-animate-2">
            <h3>Kitchen Workshops</h3>
            <span class="fh5co-event-meta">March 19th, 2016</span>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <p><a href="#" class="btn btn-primary btn-outline">Read More</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fh5co-event to-animate-2">
            <h3>Music Concerts</h3>
            <span class="fh5co-event-meta">March 19th, 2016</span>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <p><a href="#" class="btn btn-primary btn-outline">Read More</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fh5co-event to-animate-2">
            <h3>Free to Eat Party</h3>
            <span class="fh5co-event-meta">March 19th, 2016</span>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <p><a href="#" class="btn btn-primary btn-outline">Read More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fh5co-contact" data-section="reservation">
    <div class="container">
      <div class="row text-center fh5co-heading row-padded">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="heading to-animate">Reserve a Table</h2>
          <p class="sub-heading to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 to-animate-2">
          <h3>Contact Info</h3>
          <ul class="fh5co-contact-info">
            <li class="fh5co-contact-address ">
              <i class="icon-home"></i>
              5555 Love Paradise 56 New Clity 5655, <br>Excel Tower United Kingdom
            </li>
            <li><i class="icon-phone"></i> (123) 465-6789</li>
            <li><i class="icon-envelope"></i>info@html5</li>
          </ul>
        </div>
        <div class="col-md-6 to-animate-2">
          <h3>Reservation Form</h3>
          <div class="form-group ">
            <label for="name" class="sr-only">Name</label>
            <input id="name" class="form-control" placeholder="Name" type="text">
          </div>
          <div class="form-group ">
            <label for="email" class="sr-only">Email</label>
            <input id="email" class="form-control" placeholder="Email" type="email">
          </div>
          <div class="form-group">
            <label for="occation" class="sr-only">Occation</label>
            <select class="form-control" id="occation">
              <option>Select an Occation</option>
              <option>Wedding Ceremony</option>
              <option>Birthday</option>
              <option>Others</option>
            </select>
          </div>
          <div class="form-group ">
            <label for="date" class="sr-only">Date</label>
            <input id="date" class="form-control" placeholder="Date &amp; Time" type="text">
          </div>



          <div class="form-group ">
            <label for="message" class="sr-only">Message</label>
            <textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group ">
            <input class="btn btn-primary" value="Send Message" type="submit">
          </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
