---
title: Menu
handle: Menu
published: true
sections_content: >
  {
    "footer": {
      "settings": {
        "text": "&copy; 2016 Foodee HTML5 Template. <br> Demo images: <a href=\"http://pexels.com/\" target=\"_blank\">Pexels</a> <br> Tasty Icons Free <a href=\"http://handdrawngoods.com/store/tasty-icons-free-food-icons/\" target=\"_blank\">handdrawngoods</a>",
        "show": true
      }
    }
  }
---
{% extends layouts/default %}
{% block 'main' %}
  {% include 'navmenu' %}
  {% include 'menu' %}
{% endblock %}
