---
title: Default layout
is_layout: false
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    {% include 'styles' %}
  </head>
  <body>
    <div id="fh5co-container">
    {% block 'main' %}
    {% endblock %}
    </div>
    {% section footer, placement: 'bottom' %}
    {% include 'scripts' %}
    {% if wagon %}<script src="http://localhost:35729/livereload.js"></script>{% endif %}
  </body>
</html>
